<template>
  <section class="container">


          <div class="form-group">
          
            <button type="button" class="btn btn-info" data-toggle="modal"
                    data-target="#date-modal">
              Open in modal
            </button>
          </div>

          

    <!-- bs modal -->
    <div class="modal fade" tabindex="-1" role="dialog" id="date-modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Modal example</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label>Select a date</label>
              <date-picker v-model="form.dateModal"></date-picker>
            </div>
            <pre>{{form.dateModal}}</pre>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Save</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

  </section>
</template>

<script>
  import Vue from 'vue';

  import datePicker from '../src/index';
  import moment from 'moment';
  import 'pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.css';

  // Using font-awesome 5 icons
  import '@fortawesome/fontawesome-free/css/fontawesome.css';
  import '@fortawesome/fontawesome-free/css/regular.css';
  import '@fortawesome/fontawesome-free/css/solid.css';

  jQuery.extend(true, jQuery.fn.datetimepicker.defaults, {
    icons: {
      time: 'far fa-clock',
      date: 'far fa-calendar',
      up: 'fas fa-arrow-up',
      down: 'fas fa-arrow-down',
      previous: 'fas fa-chevron-left',
      next: 'fas fa-chevron-right',
      today: 'fas fa-calendar-check',
      clear: 'far fa-trash-alt',
      close: 'far fa-times-circle'
    }
  });

  export default {
    name: 'app',
    data() {
      return {
        form: {
          date: new Date(),
          dateWrap: null,
          dateModal: moment(),
          dateValidate: null,
          time: null,
          dateLocale: moment(),
          dateInline: moment().toString(),
          startDate: null,
          endDate: null
        },
        configs: {
          basic: {
            // https://momentjs.com/docs/#/displaying/format/
            format: 'DD/MM/YYYY'
          },
          wrap: {
            allowInputToggle: true
          },
          timePicker: {
            format: 'LT',
            useCurrent: false
          },
          locale: {
            // https://github.com/moment/moment/tree/develop/locale
            locale: 'hi',
          },
          inline: {
            format: 'LLL',
            inline: true,
            sideBySide: true
          },
          start: {
            format: 'DD/MM/YYYY',
            useCurrent: false,
            showClear: true,
            showClose: true,
            minDate: moment(),
            maxDate: false
          },
          end: {
            format: 'DD/MM/YYYY',
            useCurrent: false,
            showClear: true,
            showClose: true,
            minDate: moment()
          }
        },
      }
    },
    components: {
      datePicker
    },
    methods: {
      submit() {
        console.log('Form submit event');
        console.log(this.form);
        // http://vee-validate.logaretm.com/examples.html#component-example
        this.$validator.validateAll().then(result => {
          // eslint-disable-next-line
          alert(`Validation Result: ${result}`);
        });
      },
      setNewValue() {
        console.log('Set new value');
        // https://momentjs.com/docs/#/manipulating/
        this.form.date = moment().add(7, 'days');
      },
      updateConfig() {
        console.log('Update config');
        // Right way to update config
        this.$set(this.configs.basic, 'viewMode', 'years');
      },
      listenToChangeEvent(...args) {
        console.log('listen To dp.change event - ', ...args);
      },
      onStartChange(e) {
        console.log('onStartChange', e.date);
        this.$set(this.configs.end, 'minDate', e.date || null);
      },
      onEndChange(e) {
        console.log('onEndChange', e.date);
        this.$set(this.configs.start, 'maxDate', e.date || null);
      }
    },
  }
</script>
