<template>
  <div class="container">
    <h3 style="position:relative;width:20%;"></h3>

    <div
      class="card"
      style="width: 18rem; float:left;margin:10px"
      v-for="n in toDo"
      @click="get(n)"
    >
      <div class="card-body">
        <!--  <div class="card-body">-->
        <h5 class="card-title">{{n.title}}</h5>
        <hr>
        <p class="card-text">{{n.description}}</p>
        <hr>
        <p class="card-text">С {{n.start_datetime}} до {{n.end_datetime}}</p>
        <hr>

        <p class="card-text">{{n.comment}}</p>
        <hr>

        <p class="card-text" v-for="i in n.users">{{i}}</p>
        <hr>
        <p class="card-text">{{n.status}}</p>
      </div>
      <!--
  <div style="float:left">
      <img :src="ff.source" style="width:50px;height:50px" v-for="ff in n.participants">
  </div>
      -->
    </div>
    <b-modal ref="myModalRef" hide-footer title="Using Component Methods">
      <form @submit.prevent="saveModal">
        <div class="form-group">
          <label for="title">Тақырып</label>
          <input type="text" class="form-control" :value="toDoDetails.title" ref="title">
        </div>
        <div class="form-group">
          <label for="description">Сипаттама</label>
          <textarea
            class="form-control"
            name="comment"
            rows="5"
            :value="toDoDetails.description"
            ref="description"
          ></textarea>
        </div>
        <div class="form-group">
          <label for="start_time">Бастау мерзімі</label>
          <input
            type="text"
            class="form-control"
            :value="toDoDetails.start_datetime"
            ref="start_datetime"
          >
        </div>
        <div class="form-group">
          <label for="end_time">Бітіру мерзімі</label>
          <input
            type="text"
            class="form-control"
            :value="toDoDetails.end_datetime"
            ref="end_datetime"
          >
        </div>
        <div class="form-group">
          <label for="users">Users</label>
          <div>
            <select
              multiple
              placeholder
              class="form-control select2-hidden-accessible"
              data-select2-id="3"
              tabindex="-1"
              aria-hidden="true"
            >
              <option value="Kurmangazy" data-select2-id="4">Kurmangazy</option>
              <option value="Yedige" data-select2-id="5">Yedige</option>
              <option value="Yerden" data-select2-id="6">Yerden</option>
            </select>
            <span
              class="select2 select2-container select2-container--default select2-container--below"
              dir="ltr"
              data-select2-id="7"
              style="width: auto;"
            >
              <span class="selection">
                <span
                  class="select2-selection select2-selection--multiple"
                  role="combobox"
                  aria-haspopup="true"
                  aria-expanded="false"
                  tabindex="-1"
                >
                  <ul class="select2-selection__rendered">
                    <li class="select2-selection__choice" title="Kurmangazy" data-select2-id="40">
                      <span class="select2-selection__choice__remove" role="presentation">×</span>Kurmangazy
                    </li>
                    <li class="select2-selection__choice" title="Yedige" data-select2-id="41">
                      <span class="select2-selection__choice__remove" role="presentation">×</span>Yedige
                    </li>
                    <li class="select2-search select2-search--inline">
                      <input
                        class="select2-search__field"
                        type="search"
                        tabindex="0"
                        autocomplete="off"
                        autocorrect="off"
                        autocapitalize="none"
                        spellcheck="false"
                        role="textbox"
                        aria-autocomplete="list"
                        placeholder
                        style="width: 0.75em;"
                      >
                    </li>
                  </ul>
                </span>
              </span>
              <span class="dropdown-wrapper" aria-hidden="true"></span>
            </span>
          </div>
        </div>
        <div class="form-group">
          <label for="comment">Коментарии</label>
          <textarea
            class="form-control"
            name="comment"
            rows="5"
            :value="toDoDetails.comment"
            ref="comment"
          ></textarea>
        </div>
        <div class="form-group">
          <label for="comment">Статус</label>
          <select class="custom-select" ref="select">
            <option
              value="In Progress"
              v-bind:selected="toDoDetails.status=='In Progress'"
            >In Progress</option>

            <option value="To Do" v-bind:selected="toDoDetails.status=='To Do'">To Do</option>
            <option value="Done" v-bind:selected="toDoDetails.status=='Done'">Done</option>
          </select>
        </div>
        <b-btn class="sm-3" variant="outline-success" type="submit">Сақтау</b-btn>
      </form>
    </b-modal>
  </div>
</template>
<script>
import ToDo from "./toDoModel.js";
import select2 from "./../../node_modules/select2";

export default {
  data() {
    return {
      toDoDetails: new ToDo(),
      n: 0,
      form: []
    };
  },
  props: ["toDo", "toDoStatus"],
  methods: {
    get(n) {
      this.toDoDetails = n;
      this.$refs.myModalRef.show();
    },
    hideModal() {
      this.$refs.myModalRef.hide();
    },
    saveModal() {
      this.toDoDetails.title = this.$refs.title.value;
      this.toDoDetails.description = this.$refs.description.value;
      this.toDoDetails.start_datetime = this.$refs.start_datetime.value;
      this.toDoDetails.end_datetime = this.$refs.end_datetime.value;
      this.toDoDetails.comment = this.$refs.comment.value;
      this.toDoDetails.status = this.$refs.select.value;
      this.$emit("changedForm", this.toDo);

      this.$refs.myModalRef.hide();
    }
  },
  watch: {}
};
</script>
<style scoped>
img {
  border-radius: 50%;
}
</style>
