<template>
  <div id="app">
    <div style="float:right;padding:0% 5% 0% 0%">
      <button
        type="button"
        class="btn btn-secondary"
        @click="openNav()"
        style="margin-bottom:7%"
      >Іс қосу</button>
      <b-card no-body style="max-width: 20rem;">
        <h4 slot="header">Тізім жасау</h4>

        <b-list-group flush class="cursor-pointer">
          <b-list-group-item @click="switchToDo('All')">Барлығы</b-list-group-item>
          <b-list-group-item @click="switchToDo('To Do')">Істеу</b-list-group-item>
          <b-list-group-item @click="switchToDo('In Progress')">Орындалуда</b-list-group-item>

          <b-list-group-item @click="switchToDo('Done')">Бітті</b-list-group-item>

          <b-list-group-item @click="switchToDo('Archive')">Архив</b-list-group-item>
        </b-list-group>
      </b-card>
    </div>
    <list :toDo="form2"></list>
    <!--<list :toDo="form"></list>-->
    <div id="mySidenav" class="sidenav" @submit="submit">
      <a href="javascript:void(0)" class="closebtn" @click="closeNav()">&times;</a>
      <h3>Жаңа іс қосу</h3>

      <form style="padding:5% 10% 10% 10%">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Тақырып" v-model="ToDoDetails.title">
        </div>
        <div class="form-group">
          <textarea
            class="form-control"
            rows="5"
            placeholder="Сипаттама"
            v-model="ToDoDetails.description"
          ></textarea>
        </div>

        <div class="form-group">
          <label>Бастау мерзімі</label>
          <date-picker v-model="ToDoDetails.start_datetime"></date-picker>
        </div>

        <div class="form-group">
          <label>Бітіру мерзімі</label>
          <date-picker v-model="ToDoDetails.end_datetime"></date-picker>
        </div>
      
            <div class="form-group">
              <b-btn v-b-modal.modal1>Мүше қосу</b-btn>
              <b-modal id="modal1" title="Мүше қосу">
              <select2-multiple-control v-model="ToDoDetails.users" :options="myOptions" @change="myChangeEvent($event)" @select="mySelectEvent($event)" />
    <h4>Value: {{ myValue }}</h4>
              </b-modal>
            </div>
       
        <div class="form-group">
          <textarea
            class="form-control"
            name="comment"
            rows="5"
            placeholder="Коментарии"
            v-model="ToDoDetails.comment"
          ></textarea>
        </div>

        <div class="form-group">
          <button
            type="button"
            class="btn btn-success"
            style="width:100px"
            @click="submit()"
            :disabled="!ToDoDetails.comment||!ToDoDetails.title||!ToDoDetails.description||!ToDoDetails.start_datetime||!ToDoDetails.end_datetime"
          >Қосу</button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import List from "./components/list.vue";
import datePicker from "./components/index.js";
import moment from "moment";
import "pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.css";
import Select2MultipleControl from "v-select2-multiple-component";
// Using font-awesome 5 icons
import "../node_modules/@fortawesome/fontawesome-free/css/fontawesome.css";
import "../node_modules/@fortawesome/fontawesome-free/css/regular.css";
import "../node_modules/@fortawesome/fontawesome-free/css/solid.css";
import ToDo from "./components/toDoModel.js";
jQuery.extend(true, jQuery.fn.datetimepicker.defaults, {
  icons: {
    time: "far fa-clock",
    date: "far fa-calendar",
    up: "fas fa-arrow-up",
    down: "fas fa-arrow-down",
    previous: "fas fa-chevron-left",
    next: "fas fa-chevron-right",
    today: "fas fa-calendar-check",
    clear: "far fa-trash-alt",
    close: "far fa-times-circle"
  }
});

export default {
  data: function() {
    return {
      myValue: "",
      myOptions: ["Kurmangazy", "Yedige", "Yerden"],
      toDo: "App",
      date: new Date(),
      ToDoDetails: new ToDo(),
      form: [],
      form2: [],

      users: {
        name: "",
        surname: ""
      }
    };
  },
  name: "app",
  components: {
    list: List,
    Select2MultipleControl
  },
  methods: {
    
    
    myChangeEvent(val) {
      console.log(val);
    },
    mySelectEvent({ id, text }) {
      console.log({ id, text });
    },
    openNav() {
      document.getElementById("mySidenav").style.width = "40%";
    },
    closeNav() {
      document.getElementById("mySidenav").style.width = "0";
    },
    submit() {
      this.form.push({
        title: this.ToDoDetails.title,
        description: this.ToDoDetails.description,
        start_datetime: this.ToDoDetails.start_datetime,
        end_datetime: this.ToDoDetails.end_datetime,
        comment: this.ToDoDetails.comment,
        status: this.ToDoDetails.status, 
        users:this.ToDoDetails.users
      });
      document.getElementById("mySidenav").style.width = "0";

      this.ToDoDetails = new ToDo();
      console.log('final',this.form);
    },
    switchToDo(todo) {
      this.form2 = [];
      if (todo == "All") {
        this.form2 = this.form;
      } else {
        for (var i = 0; i < this.form.length; i++) {
          if (this.form[i].status == todo) {
            this.form2.push(this.form[i]);
          }
        }
      }
      console.log(todo);
    },
  
  },
  created(){
      this.switchToDo('All');
    
    }
};
</script>

<style >
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.cursor-pointer {
  cursor: pointer;
}
.sidewidth {
  width: 200px;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #ebeef0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
.inprogress {
  border-left-style: solid;
  border-left-color: coral;
}
</style>
